@charset "UTF-8";

.basket-size {
	width: 100px;
	height: 100px;
}

.imgsize {
	width: 120px;
	height: 120px;
}

.card, .card a:link, .card a:visited, .card.my a {
	color: white;
	text-decoration: none;
}
/* kt */
.container-mypage{   
	padding-top: 50px ;
	padding-bottom: 50px ;
}

.card {
	background-color: #1b1b27 !important;
	margin: 15px 15px 15px 15px;
	width: 10rem;
}

.my {
	background-color: #ef900e !important;
}

a dl.text-center {
	color: black;
}