@charset "UTF-8";

/*= classList 부분 =*/
@font-face { font-family: 'KOMACON'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.2/KOMACON.woff') format('woff'); font-weight: normal; font-style: normal; }
			
body {
	font-family: '만화진흥원체', 'KOMACON', KOMACON;
	font-size: 15px;
}
/*빠른 보기 아이콘, 댓글, 하트 아이콘*/
.search_plus {
	text-align: center;
}

/*1,2,3 순위 백그라운드 색상만 변경*/
#rank {
	
	padding: 35px 0px 30px;
}

#ranking_style {
	maring-top: 3%;
	padding-top: 3%;
}

/*class_container 마진 조정*/
#class_container {
	margin-top: 100px;
	margin-bottom: 100px;
}

#lesson_list {
	margin-top: 3%;
}


/****************tab바*****************/
.nav-class-tabs {
		margin-top: 7%;
		margin-bottom: 3%;
}
	
.nav-class-tabs > .nav-link {
	color: #666;
}
#nav-tab-bar {
	width: 100%;
}

.tab-pane a, .tab-pane a:link, .tab-pane a:hover {
	text-decoration: none;
	color: black;
}

.nav-item a {
	color: black;
}

.card a {
	color: #000000;
}


@media screen and (max-width: 375px) {
	#best2 {
		margin-top: 20px;
	}
	
	#best3 {
		margin-top: 40px;
	}
	
	#class_container {
		margin-top: 50px;
		margin-bottom: 50px;
	}
	
	.nav-class-tabs {
		margin-top: 70px;
	}
	
	#rank {
		padding: 35px 0px 0px 15px;
	}
}
