@font-face { font-family: 'KOMACON'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.2/KOMACON.woff') format('woff'); font-weight: normal; font-style: normal; }
            
body {
    font-family: '만화진흥원체', 'KOMACON', KOMACON;
}

.work_side {
    position:fixed;
    top:0;
    left:0;
    background: #1b1b27;
    width:215px;
    height:100%;
    z-index:2;
}

.sidebar_head {
    height:50px;
}

.sidebar_title {
    height:60px;
    width:190px;
    font-size:1.5em;
    color:#ffffff;
    padding: 10px 0 10px 0;
    margin:0 auto;
}

.sidebar_title:hover {
    color:#ffffff;
}

.img-circle {
    border:1px solid #E6E9ED;
    border-radius:50%;
    padding:2px;
}
.profile_img  {
    width:70px;
    height:70px;
    background:#fff;
    margin-left:80px;
    z-index:1000;
    position:inherit;
    margin-top:20px;
    margin-bottom:10px;
    border:1px solid rgba(52,73,94,0.44);
    padding:4px;
}
.sidebar_name {
    text-align:center;
        margin:0 auto;
}

.sidebar_name h3 {
    font-size:20px;
    color:#ECF0F1;
    margin:0 auto;
    font-weight:400;
    text-align: center;
}

ul > li {
    list-style:none;
    
    display:block;
    padding:10px;
    overflow:hidden;
}

.side-menu {
    font-weight:400;
    font-size:17px;
    padding:10px 5px;
    color:#ECF0F1;
}

.child_menu {
    text-align:center !important;
    font-weight:400;
    font-size:14px;
    padding:1px 5px;
    border-top:1px solid #dddddd;    
}

.child_menu li a {

    margin-right: 50px;
}

.sidebar_pic {
    margin:0 auto;
}