@media (min-width: 1256px) {}

.work_info_box {
    width:1120px;
    margin: 0 auto;
}

.info_box_title {
    font-size:18px;
    font-weight:700;
    color:orange;
    padding-bottom:5px;
    border-bottom:1px solid #d3d3d3;
}
.info_list {
    margin-top:15px;
    height:52px;
}

.info_img_list {
    margin-top:20px;
    height:128px;
}

.info_sm_list {
    margin-top:1px;
}

.info_intro_list {
    margin-top:20px;
    height:280px;

}

.info_label {
    display: block;
    font-size: 15px;
    font-weight: 700;
    color: #292929;
    line-height: 21px;
    word-break: keep-all;
    padding:18px 0 0 15px;
    margin-bottom: 10px;
}

.sm_label {
    font-size: 13px;
}
.intro_label {
    width:100%;
    height:42px;
}

.info_input {
    height: 42px;
    margin: 10px 0 0;
    display: flex;
    flex: 1 0 auto;
}
.intro_form {
    width:100%;
    padding: 0px 10px 0px 10px;
    display: flex;
    flex: 1 0 auto;
    height:200px;
}

.form_input {
    width: 100%;
    border-radius: 4px;
    transition: border 0.2s, background 0.2s;
    display: block;
    padding: 0 15px;
    line-height: 40px;
    border: 1px solid #bdbdbd;
    background-color: #ffffff;
    color: #424242;
    font-size:14px;
}

.intro {
    resize:none;
}

.zipcode {
    width: 40%;
}

.owner_input {
    width:120px;
}

.selector {
    width: 130px;
}

.form_button {
    width:80px;
    border-radius: 4px;
    display:block;
    margin-left:15px;
    border:1px solid #ef902e;
    background:#feeddd;
    font-size:12px;
    font-weight: 400;
    transition:background 0.2s;
}

.form_button:hover {
    background:#feebbb;

}

.info_img_input {
    max-height:200px;
    margin: 10px 0 0;
    display: flex;
    flex: 1 0 auto;
}



  .profile-pic {
      display: block;
      margin:0 auto;
  }
  
  .file-upload {
      display: none;
  }
  .circle {
      border-radius: 1000px !important;
      overflow: hidden;
      width: 128px;
      height: 128px;
      border: 8px solid rgba(255, 255, 255, 0.7);
      position: absolute;
      margin:0 auto;
  }
  img {
      max-width: 100%;
      height: auto;
  }
  .p-image {
    position: absolute;
    top:96px;
    left:116px;
    color: #666666;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  }
  .p-image:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  }
  .upload-button {
    font-size: 1.2em;
  }
  
  .upload-button:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    color: #999;
  }

.task_bar {
    position:fixed;
    bottom:0;
    width:100%;
    height:40px;
    background:#d3d3d3;
    z-index: 1;
    
}
.info_submit {
    position: absolute;
    right:10px;
    margin-top:5px;
    border-radius: 4px;
    display:block;
    border:1px solid #FEE100;
    background:#feeddd;
    font-size:18px;
    font-weight: 400;
}

.info_submit:hover {
    background:#feebbb;
}