.work_title {
    padding:100px 0 0 15px;
    margin-bottom:10px;
}

.header, .header2  {
    padding:0 !important;
}

button {
    margin:0 8px 0 0     !important;
}

.store_category {
    margin:0 0 15px 15px;
}

#work_store {
    width: 1690px;
    text-align:center;
}

#work_store th {
    border-top:2px solid #2e2e2e;
    background:#d4d4d4;
    height:20px;
}

#work_store td {
    border-top:1px solid #e2e2e2;
    height:30px;
}

th {
    vertical-align: middle !important;
    padding: 5px 10px 5px 10px !important;

}

td {
    vertical-align: middle !important;
    padding : 0px 10px 0px 10px !important;
}

.th1 {
    width:2%;
}

.th2 {
    width:2%;
}
.th3 {
    width:18%;
}
.th4 {
    width:18%;
}
.th5 {
    width:5%;
}
.th6 {
    width:10%;
}
.th7 {
    width:5%;
}
.th8 {
    width:5%;
}

img {
    width:50px;
    height:50px;
}

.p_title {
    text-align:left;
}
.btn_modify {
    width:50px;
    border-radius: 4px;
    border:1px solid orangered;
    color:orangered;
    font-size:14px;
}


.table_bottom {
    height:50px;
}

.page_nav {
    position:absolute;
    text-align: right;
    max-width:600px;
    padding:5px 5px 5px 5px;
    right:10px;
}

.page_nav .current_page {
    font-size:1.1em;
    height: 30px;
    line-height: 28px;
    padding: 3px 8px;
    min-width: 30px;
    text-decoration: none;
    border:1px solid orange;
    background: orange;
    border-radius: 4px;
    color:#ffffff;
}
.page_nav a {
    font-size:1.1em;
    height: 30px;
    line-height: 28px;
    padding: 3px 8px;
    min-width: 30px;
    text-decoration: none;
    border:1px solid grey;
    border-radius: 4px;
    color:grey;
    transition : background 0.1s;
}

.page_nav a:hover {
    background:#d4d4d4;
}





/*0115선주수정*/
.header2_adj {
    margin-bottom:20px; 
    padding-left:0px;
}
.dropbtn {
    width:68px;
    border-radius: 4px;
    border:1px solid orangered;
    color:orangered;    
}

.dropbtn:hover {
    color: #1b1b27;
    background-color: #ef902e;
    box-shadow: 200px 0 0 0 #ef902e inset,
                -200px 0 0 0 #ef902e inset;
}


.btn_search {
    width:55px;
    border-radius: 4px;
    border:1px solid orangered;
    color:orangered; 
}


.btn_search:hover {
    color: #1b1b27;
    background-color: #ef902e;
    box-shadow: 200px 0 0 0 #ef902e inset,
                -200px 0 0 0 #ef902e inset;
}

.listnum_txt {
    width:80px;
    font-size:14px;
    color: #1b1b27;
}

.listnum_num {
    width:50px;
    font-size:14px;
    color: #ef902e;
}
