.work_title {
    padding:100px 0 0 15px;
    margin-bottom:10px;
}

.th1 {
    width:2%;
}

.th2 {
    width:6%;
}
.th3 {
    width:8%;
}
.th4 {
    width:6%;
}
.th5 {
    width:9%;
}
.th6 {
    width:9%;
}
.th7 {
    width:12%;
}
.th8 {
    width:12%;
}
.th9 {
    width:12%;
}
.th10 {
    width:12%;
}
.th11 {
    width:12%;
}

img {
    width:50px;
    height:50px;
}

.btn_modify {
    width:50px;
    border-radius: 4px;
    border:1px solid orangered;
    color:orangered;
    font-size:14px;
}

.task_bar {
    position:fixed;
    bottom:0;
    width:100%;
    height:40px;
    background:#d3d3d3;
    z-index: 1;
    padding:0;
}

.table_bottom {
    height:50px;
}

.page_nav {
    position:absolute;
    text-align: right;
    max-width:600px;
    padding:5px 5px 5px 5px;
    right:10px;
}

.page_nav .current_page {
    font-size:1.1em;
    height: 30px;
    line-height: 28px;
    padding: 3px 8px;
    min-width: 30px;
    text-decoration: none;
    border:1px solid orange;
    background: orange;
    border-radius: 4px;
    color:#ffffff;
}
.page_nav a {
    font-size:1.1em;
    height: 30px;
    line-height: 28px;
    padding: 3px 8px;
    min-width: 30px;
    text-decoration: none;
    border:1px solid grey;
    border-radius: 4px;
    color:grey;
    transition : background 0.1s;
}

.page_nav a:hover {
    background:#d4d4d4;
}



/*0115선주수정*/
.header2_adj {
    margin-bottom:20px; 
    padding-left:0px;
}
.dropbtn {
    width:68px;
    border-radius: 4px;
    border:1px solid orangered;
    color:orangered;    
}

.dropbtn:hover {
    color: #1b1b27;
    background-color: #ef902e;
    box-shadow: 200px 0 0 0 #ef902e inset,
                -200px 0 0 0 #ef902e inset;
}


.btn_search {
    width:55px;
    border-radius: 4px;
    border:1px solid orangered;
    color:orangered; 
}


.btn_search:hover {
    color: #1b1b27;
    background-color: #ef902e;
    box-shadow: 200px 0 0 0 #ef902e inset,
                -200px 0 0 0 #ef902e inset;
}

.listnum_txt {
    width:80px;
    font-size:14px;
    color: #1b1b27;
}

.listnum_num {
    width:50px;
    font-size:14px;
    color: #ef902e;
}
