.work_profile {
    height:200px;
}
.detail_title {
    font-weight:700;
    text-align:center;
    padding:5px 0 5px 0;
}
.work_stats {
    margin-top:50px;
    height:400px;
}
.col-stat {
    width:380px;
}
.profile_pic {
    width:210px;
    height:200px;
    font-size:9em;
}
.head_icon {
    font-size:9em;
}

.stats_icon {
    width:200px;
    height:200px;
    margin:0 auto;
}

.detail_list {
    border-top:1px solid #e3e3e3;
    padding:3px 0 3px 0;
}

.list_item {
    text-align: right;
}

.ef {
	color:#ef902e;
}

