@charset "UTF-8";

.parallax {
	position: relative;
	z-index: 1;
}

.parallax:before {
	/* The image used */
	background-image:
		url("https://images.unsplash.com/photo-1499744349893-0c6de53516e6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1949&q=80");
	background-color: rgba(0, 0, 0, 0.5);
	/* Full height */
	height: 100%;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	opacity: 0.5 !important;
	filter: alpha(opacity = 50);
	z-index: -1;
	content: "";
	width: 100%;
	height: 100%;
}

section.scene {
	
	height: 100vh;
	overflow: hidden;
	background-attachment: fixed;
	background-size: cover;
	font-weight: 10;
	color: black;
	font-family: 'Do Hyeon', sans-serif;
}

.scene.one {
	background-image:
		url("https://cdn.pixabay.com/photo/2015/04/20/13/38/furniture-731449_1280.jpg");
}

.scene.two {
	background-image:
		url("https://cdn.pixabay.com/photo/2018/09/10/19/08/read-3667768_1280.jpg");
}

.scene.three {
	background-image:
		url("https://cdn.pixabay.com/photo/2017/09/15/12/10/mockup-2752023_1280.jpg");
}

.scene header {
	color: black;
	max-width: 60%;
	position: relative;
	left: 50%;
	top: 30%;
	transform: translateX(-50%) translateY(-50%);
	font-size: 1.5rem;
	text-align: center;
}

img {
	width: 100%;
	height: 100%;
}

img:hover {
	transition: .5s;
	opacity: 0.7;
}

.img-wrap {
	top: 30%;
	position: relative;
}

.img-wrap .caption {
	font-size: 2rem;
	background-color: black;
	background-color: rgba(0, 0, 0, 0.3);
}

.scene.one .btn-wrap {
	position: relative;
	top: 70%;
	left: 45%;
}