
    body {
        margin: 0;
        padding: 0;
    }
    
    @media (min-width: 768px) {
        html,
        body {
            font-size: 15px;
        }
    }
    
    .cbody {
        padding-top: 40px;
    }
    
    @media (min-width: 768px) {
        .cbody {
            margin-right: auto;
            margin-left: auto;
            box-sizing: border-box;
            width: calc(100% - 80px);
            max-width: 100%;
            box-sizing: border-box;
            min-height: 1px
        }
    }
    
    @media (min-width: 1024px) {
        .cbody {
            margin-right: auto;
            margin-left: auto;
            width: calc(100% - 120px);
            max-width: 100%;
            box-sizing: border-box;
            min-height: 1px
        }
    }
    
    @media (min-width: 1256px) {
        .cbody {
            margin-right: auto;
            margin-left: auto;
            width: 1136px;
            max-width: 100%;
            box-sizing: border-box;
            min-height: 1px
        }
    }
    
    @media (min-width: 768px) {
        .signup_form {
            width: 360px;
        }
    }

    .error_next_box {
        display:block;
        margin:9px 0 -2px;
        font-size:12px;
        line-height: 14px;
        color:red;
    }
    
    .signup_form {
        margin: 0 auto;
        padding: 60px 0;
    }
    
    .signup_form h1 {
        font-size:1.5rem;
        margin-top:0;
        margin-bottom:0.5rem;
        font-weight:500;
        line-height:1.2;
    }
    .form_group {
        margin: 0 0 30px;
    }
    
    .signup_sns {
        margin:30px 0;
        padding-bottom:30px;
        border-bottom:1px solid #d3d3d3;
    }

    .signup_sns_title {
        font-size:12px;
        text-align:center;
        margin:15px 0;
        color:#757575;
    }
    .signup_sns_list {
        display: flex;
        justify-content: center;
        list-style: none;
        padding:0;
    }
    .signup_sns_list_item {
        margin:0 5px;
    }
    .signup_form .signup_form_email {
        width: 100%;
        margin: 0 0 30px;
    }
    
    .input_email {
        width: 100%;
    }
    
    .signup_form_label {
        display: block;
        margin: 0 0 12px;
        font-size: 15px;
        font-weight: 700;
        color: #292929;
        line-height: 21px;
        word-break: keep-all;
    }
    
    .signup_form_input {
        height: 42px;
        margin: 10px 0 0;
        display: flex;
        flex: 1 0 auto;
    }
    
    .input_email_local {
        width: 170px;
        position: relative;
        flex: 1 1 0px;
        float: left;
    }
    
    .form_input {
        width: 100%;
        border-radius: 4px;
        transition: border 0.2s, background 0.2s;
        display: block;
        padding: 0 15px;
        line-height: 40px;
        border: 1px solid #dbdbdb;
        background-color: #ffffff;
        color: #424242;
    }
    
    .input_email_seperator {
        position: relative;
        width: 20px;
        flex: 0 0 20px;
        float: left;
        text-align: center;
        font-size: 15px;
        letter-spacing: -0.4px;
        line-height: 40px;
    }
    
    .input_email_domain {
        position: relative;
        width: 170px;
        flex: 1 1 0px;
        float: left;
    }
    
    .input_email_domain select {
        width: 100%;
        font-size: 15px;
        border-radius: 4px;
        height: 42px;
    }

    .signup_form_term {
        border:1px solid #c3c3c3;
        border-radius: 4px;
        padding:10px 10px 10px 10px;
    }
    .signup_form_term_body {
        margin:10px 0 0 ;
    }
    .signup_form_label {
        font-size:15px;
        font-weight: 700;
        line-height: 21px;
        word-break:keep-all;
    }

    .form_check {
        flex:1 1 auto;
    }

    .term_all {
        border-bottom:1px solid #c3c3c3;
        padding-bottom:18px;
        margin-bottom:16px;
    }

    .signup_form_submit {
        background:orange;
        color:#ffffff;
        width:100%;
        padding:26px 0;
        font-size:18px;
        text-align: center;
        border:none;
        border-radius:4px;
        font-weight: 700;
        transition:background 0.2s;
    }

    .signup_form_submit:hover {
        background:rgb(255, 190, 70);
    }